html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Mono", monospace;
}

@media screen and (max-width: 767px) {
  .main-container {
    padding: 20px;
  }

  .container {
    padding: 20px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.calculator {
  padding: 20px;
}

.textview {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 4px;
  background-color: #8de7c6;
  font-size: 22px;
}

.textview:focus {
  background-color: lightblue;
  border: 3px solid rgb(12, 113, 228);
}

table {
  width: 100%;
}

tr td {
  border: 1px rgb(12, 113, 228);
}

td input:focus {
  background-color: rgb(9, 192, 253);
}

td input {
  padding: 30px;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
}

#special {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(66, 66, 73);
  border-radius: 4px;
  background-color: #8de7c6;
  font-size: 30px;
}

#special:focus {
  background-color: rgb(9, 192, 253);
}



.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(173, 230, 195);
  padding: 10px;
}

.container div {
  margin-bottom: 50px;
}

input {
  width: 100px;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 4px;
  background-color: #8de7c6;
  font-size: 25px;
  color: rgb(70, 6, 6);
  font-weight: bold;
}

input:focus {
  background-color: #838a86;
}

label {
  font-size: 30px;
  font-weight: bold;
}

button {
  font-size: 40px;
  padding: 10px 40px;
}

button:focus {
  background-color: rgb(9, 192, 253);
}

p {
  font-weight: bold;
  font-size: 20px;
}

.text {
  margin-bottom: 50px;
}

.text a {
  text-decoration: none;
}

/* Footer */

footer {
  padding: 1px;
}

.footerDiv {
  border: 1px solid white;
  padding: 5px;
  text-align: center;
  font-size: 16px;
}

.footerDiv a {
  text-decoration: none;
}
.copyright {
  padding: 10px;
}

.designer {
  padding: 10px;
}
